<div>
    <table>
        <div *ngIf="lista">
            <thead>
                <th>Nombre</th>
                <th>Costo</th>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.costo}}</td>
                </tr>
            </tbody>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="mostrarOcultar()">Mostrar/Ocultar</button>
        </div>
    </table>
</div>